/*********** HELPER ************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* FONT SIZE */
.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs30{font-size: 30px;}

.lh20{line-height: 20px;}

/***********COLORS AND POSITION PROPERTIES ************/
.white{color: white;}
.lGray{color: rgb(125, 122, 122);}
.bgYellow{background-color: yellow;}
.bgLightC{background-color: lightcoral;}
.bgBlack{background-color: black;}
.bgGray{background-color: #282828;}
.bgWhite{background-color: #ffffff;}
.bgLightGray{background-color: #808080;}
.bgSpaceGray{background-color: #141922;}
.borderB    {border: 1px solid black;}
.borderW    {border: 1px solid white;}
.borderR    {border: 1px solid red;}


/*********** POSITION AND SPACES PROPERTIES ************/
.radius     {border-radius: 5px;}
.circle{border-radius: 50%;}

.marginL15{margin-left: 15px;}
.mb02em{margin-bottom: 0.2em;}
.mb05em{margin-bottom: 0.5em;}
.mb1em{margin-bottom: 1em;}
.mb2em{margin-bottom: 2em;}
.mt02em{margin-top: 0.2em;}
.mt04em{margin-top: 0.4em;}
.mt05em{margin-top: 0.5em;}
.mt08em{margin-top: 0.8em;}
.mt1em{margin-top: 1em;}
.pT05em{padding-top: 0.2em;}
.paddingR10{padding-right: 10px;}

.relative{position: relative;}
.absolute{position: absolute;}

/****************** IMAGES *******************/
.img16{
    width: 24px;
    height: 19px;
    object-fit: contain;
}
.img15{width: 15px;}
.img18{width: 18px;}
.img28{width: 28px;}
.img100{width: 100px;}

/****************** FLEX *******************/
.flex           {display: flex;}
.flexCol        {display: flex; flex-direction: column;}
.wrap           {flex-wrap: wrap;}
.spaceBtw       {justify-content: space-between;}
.spaceAround    {justify-content: space-around;}
.spaceEven      {justify-content:space-evenly;}
.justifyEnd     {justify-content: flex-end;}
.justifyCenter  {justify-content: center;}
.alignCenter    {align-items: center;}
.alignStart     {align-items: flex-start;}
.alignEnd       {align-items: flex-end;}
.selfEnd        {align-self: flex-end;}


/****************** COLUMNS *******************/
.col-80-xs{width: 80%;}
.col-90-xs{width: 90%;}
.col-100-xs{width: 100%;}
.col-1-2-xs{width: calc(100% / 2);}
.col-1-3-xs{width: calc(100% / 3);}
.col-1-4-xs{width: calc(100% / 4);}
.col-1-5-xs{width: calc(100% / 5);}
.col-1-6-xs{width: calc(100% / 6 );}
.col-1-7-xs{width: calc(100% / 7 );}
.col-1-8-xs{width: calc(100% / 8 );}
.col-1-9-xs{width: calc(100% / 9 );}
.col-1-10-xs{width: calc(100% / 10 );}
.h100{min-height: 100%;}
/*********** HELPER END ************/

.pageContainer{
    width: 100vw;
    height:100vh;
}

/*********** HEADER ************/
header{
    min-height: 60px;
    min-width: 100%;
    background-color: #080b12;
    z-index: 998;
    position: relative;
}

.headerBtn{
    min-width: 150px;
    padding:1em;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: 20%;
}

.headerBtn:hover{
    transform: scale(1.1);
}




/*********** MAIN ************/
.topContainer{height: calc(100vh - 60px);}

.mainContainer{
    height: calc(100vh - 120px);
    display: inline-block;
    padding: 30px 10px 0 10px;
    overflow-y: scroll;
}

ul li{
    list-style: none;
    width: 50%;
    padding: 0.5em;
}

a{
    text-decoration: none;
    color:rgb(125, 122, 122);
    padding-bottom: 0.5em;
}

ul li:hover a{
    border-bottom: 1px solid #adff2f ;
    color: white;
}

#recentlyPlayed{
    margin: 2em 0 1em 0.5em;
}

.wrapper h5 {
    margin: 1em 0;
    text-align: center;
}

.wrapper p{
    margin: 0.4em 0 3em 0;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.wrapper{
    width: calc(100% / 2);
    padding: 0.5em;
}

.square > img{
    object-fit: contain;
    width: 100%;
}


.squareCover{
    height: 100%;
    background-color: #080b1278;
    display: none;
    z-index: 5;
}

.squareCover .fa-heart{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.square:hover .squareCover{
    display: block;
}


/*********** SIDE MENU ************/
.bigLogo{
    display: none;
}

.lateralMenu{padding-top: 0.5em;}

span.homeDscrpt, span.searchDscrpt, span.libraryDscrpt, .playlistText, .addDscrpt, .fa-square-plus, .playlistName{
    display: none;
}

.sideElement:hover{
    border-left: 2px solid #adff2f;
}

.line{
    width: 150px;
    height: 0.5px;
    border: 0.5px solid rgb(86 84 84);
    display: none;
}

.sideElement:hover > span{
    color: white;
}

/*********** FOOTER************/
footer{
    z-index: 2;
}

.footerBar{
    min-height: 60px;

}

.playerButtons{
    width: 100%;
}

.playerButtons i{
    margin-left:  2%;
    margin-right: 2%;
}

.emptyMusicBar{
    min-width: 60%;
    height: 4px;
    background-color:#808080;
    margin-left:  25px;
    margin-right: 25px;
}

.fullMusicBar{
    width: 33%;
    height: 100%;
    background-color: #c1c1c1;
}

.fullMusicBar:hover{
    background-color: #adff2f;
}

.volume i{
    margin-left:  5%;
    margin-right: 5%;
}

.emptyVolumeBar{
    width: 100px;
    height: 4px;
    background-color:#808080;
}

.fullVolumeBar{
    width: 20px;
    height: 100%;
    background-color: #c1c1c1;
}

.fullVolumeBar:hover{
    background-color: #adff2f;
}

/****************** MEDIA QUERY *******************/
/* SHORT SCREEN*/
@media screen and (max-height:552px) {
 
    .topContainer > .lateralMenu{
        overflow-y: scroll;
    }
}


/* SMALL */
@media screen  and (min-width:480px) {

    .mb15em-s{margin-bottom: 1.5em;}
    .pL05em{padding-left: 1.5em;}
    .dsplBlock{display: block;}
    
    /* SIDE MENU */
    .topContainer > .lateralMenu{
        min-width: 220px;
        padding-left: 15px;
        z-index: 1;
    }

    img.bigLogo{
        display: block;
    }

    img.smallLogo{
        display: none;
    }

    div.sideElement span{
        display: block;
        transition: 0.3s;
    }

    .line{
        display: block;
        width: 90%;
    }

    div.sideElement{
        padding-left: 15px;
    }

    /* MAIN */
    .wrapper{
        width: calc(100% / 2);
        padding: 0.5em;
    }

    .topImg, .bottomImg{
        align-items: flex-start;
    }

    ul li{
        list-style: none;
        width: calc(100% / 2);
        padding: 0.5em;
    }

    ul{
        justify-content: space-evenly;
    }

    .footerCover img.img28{
        width: 40px;
    }
}


/* MEDIUM */
@media screen  and (min-width:769px) {

    .wrapper{
        width: calc(100% / 4);
        padding: 0.5em;
    }

    ul li{
        list-style: none;
        width: calc(100% / 4);
        padding: 0.5em;
    }

    ul{
        justify-content: space-evenly;
    }
}

/* LARGE */
@media screen  and (min-width:992px) {
    
    .wrapper{
        width: calc(100% / 6);
        padding: 0.5em;
    }

    ul li{
        list-style: none;
        width: calc(100% / 7);
        padding: 0.5em 0.5em;
    }

    ul{
        justify-content: center;
    }

    #customNavTop{
        margin-left: 100px;
    }
}

/* EXTRA-LARGE */
@media screen  and (min-width:1200px) {

    .wrapper{
        width: calc(100% / 6);
        padding: 0.5em;
    }
}
