/*********** HELPER ************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* FONT SIZE */
.fs10{font-size: 10px;}
.fs14{font-size: 14px;}
/***********COLORS AND BORDER PROPERTIES ************/
.white{color: white;}
.lGray{color: rgb(125, 122, 122);}
.bgYellow{background-color: yellow;}
.bgLightC{background-color: lightcoral;}
.bgBlack{background-color: black;}
.bgGray{background-color: #282828;}
.bgLightGray{background-color: #808080;}
.bgSpaceGray{background-color: #141922;}
.bgCadet{background-color: cadetblue;}
.bgCfB{background-color: cornflowerblue;}
.borderB    {border: 1px solid black;}
.borderLightC    {border: 1px solid lightcoral}
.borderW    {border: 1px solid white;}
.borderR    {border: 1px solid red;}
.radius     {border-radius: 5px;}
.circle{border-radius: 50%;}

.mb05em{margin-bottom: 0.5em;}
.pL05em{padding-left: 0.5em;}
/****************** IMAGES *******************/
.img18{width: 18px;}
.img28{width: 28px;}
.img16{
    width: 24px;
    height: 19px;
    object-fit: contain;
}

/****************** FLEX *******************/

.flex           {display: flex;}
.flexCol        {display: flex; flex-direction: column;}
.spaceBtw       {justify-content: space-between;}
.spaceAround    {justify-content: space-around;}
.justifyEnd     {justify-content: flex-end;}
.justifyCenter  {justify-content: center;}
.alignCenter    {align-items: center;}
.alignStart     {align-items: flex-start;}
.alignEnd       {align-items: flex-end;}
.selfEnd        {align-self: flex-end;}

/****************** COLUMNS *******************/
.col-90-xs{width: 90%;}
.col-100-xs{width: 100%;}
.col-1-2-xs{width: calc(100% / 2);}
.col-1-3-xs{width: calc(100% / 3);}
.col-1-4-xs{width: calc(100% / 4);}
.col-1-5-xs{width: calc(100% / 5);}
.col-1-6-xs{width: calc(100% / 6 );}
.col-1-7-xs{width: calc(100% / 7 );}
.col-1-8-xs{width: calc(100% / 8 );}
.col-1-9-xs{width: calc(100% / 9 );}
.col-1-10-xs{width: calc(100% / 10 );}
.h100{min-height: 100%;}
/*********** HELPER END ************/

.pageContainer{
    width: 100vw;
    height:100vh;
}

/*********** HEADER ************/
header{
    min-height: 60px;
    position: fixed;
    min-width: 100%;
    background-color: rgb(0 0 0 / 29%);;
    z-index: 999;
}


/*********** MAIN ************/
.topContainer{height: calc(100vh - 60px);}

.mainContainer{
    height: calc(100vh - 60px);
    display: inline-block;
}

.lateralMenu{padding-top: 0.5em;}

/*********** FOOTER************/
.footerBar{
    min-height: 60px;
}

/****************** MEDIA QUERY *******************/

/* SMALL */
@media screen  and (min-width:480px) {
    
    .topContainer > .lateralMenu{
        width: 210px;
        padding-left: 10px;
    }

    .topImg, .bottomImg{
        align-items: flex-start;
    }
}

/* MEDIUM */
@media  and (min-width:768px) {
    
}
/* LARGE */
@media  and (min-width:992px) {
    
}
/* EXTRA-LARGE */
@media  and (min-width:1200px) {
    
}
